.centerBox{
    overflow: hidden;
    width: fit-content;
    margin: auto;
}
.dot span {
    height: 10px;
    width: 10px;
    /* background-color: grey; */
    border-radius: 50%;
    display: inline-block;
}

.dot_green {
    background-color: green;
}
.dot_red {
    background-color: red;
}
label{
    width: 50px;
    height: 10px;
    float: left;
}
h1{
    width: fit-content;
    padding: 40px;
    margin: auto;
}
h4{
    width: fit-content;
    padding: 10px;
    margin: auto;
}
footer{
    width: fit-content;
    height: 10px;
    margin: auto;
    margin-top: auto;
    
}
body{
    background-color: seashell;
    font-family: Helvetica;
}