<!DOCTYPE html>
<html>
<body>

    <h1>Hello World!</h1>
    <p>PC Details</p>


    <form>
        Name : {{pc.name}}<br>
        IP : {{pc.ip}}<br>
        mac : {{pc.mac}}<br>
    </form><br>
    
    <form action="remove" method="post">
        {% csrf_token %}
        <input type="hidden" name = id value= {{pc.pk}}><br>
        <input type="submit" value="Remove" onclick="return confirm('Wollen Sie wirklich den PC entfernen?')"> <br>
    </form>

    <a href="{% url 'index'%}">home</a>


</body>
</html>