{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'PC_bridge/style.css' %}">
<html>

<body>
    <div class=wrapper>
        <h1>Hello World!</h1>
        <h4>Welcome to my first Django project!</h4>

        {% if msg != "" %}
            <script>alert("{{msg}}");</script> 
        {% endif %}

        <div class=centerBox>
            {% if pcList %}
            <table>
                
                <a href="{% url 'addPC'%}">Add new PC </a><br>
                {% for pc in pcList %}
                <tr>
                    <td>
                        <a href="{% url 'detail' pc.id %}">{{ pc.name }}</a>
                    </td>
                    <td>{{pc.ip}}</td>
                    <td>{{pc.mac}}</td>
                    <td>
                        <span class=dot>
                            {% if True %}
                            <span class=dot_green></span>
                            {% else %}
                            <span class=dot_red></span>
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <form action="{% url 'pcAction'%}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value={{pc.pk}}>
                            <input type="submit" name="restart" value="Restart">
                            <input type="submit" name="shutdown" value="shutdown">
                            <input type="submit" name="getStatus" value="getStatus">
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>


</body>

</html>