{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'PC_bridge/style.css' %}">
<html>

<body>
    <div class=wrapper>
        <h1>PC Bridge</h1>
        <h4>Manager für pc's</h4>
        <div class=centerBox>
            <a href="{% url 'addPC'%}">Add new PC </a><br><br>
            {% if pcList %}
            <table>
                <tr>
                    <td>Name</td>
                    <td>Power</td>
                    <td>status</td>
                </tr>
                {% for pc in pcList %}
                <tr>
                    <td><a href="{% url 'detail' pc.id %}">{{ pc.name }}</a></td>
                    <td>{{pc.pcie_power}}</td>
                    <td>{{pc.pcie_status}}</td>
                    <td><span class=dot>
                        {% if pc.status == 1 %}
                        <span class=dot_green></span>
                        {% else %}
                        <span class=dot_red></span>
                        {% endif %}
                    </span></td>
                    <td><form action="{% url 'pcAction'%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{pc.pk}}>
                        <input type="submit" name="restart" value="Restart">
                        <input type="submit" name="shutdown" value="shutdown">
                        <input type="submit" name="getStatus" value="getStatus">
                    </form></td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</body>

{% if msg != "" and msg != None %}
    <script>alert("{{msg}}");</script> 
    <meta http-equiv="refresh" content="0; url={% url 'index'%}" /> <!-- redirect to the same site to clean up url bar -->
{% endif %}

</html>