{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'PC_bridge/style.css' %}">
<html>

<body>
    <div class=centerBox>
        <h1>PC Bridge</h1>
        <p>Hinzufügen erfolgreich!</p>

        <form>
            Name : {{pc.name}}<br>
            IP : {{pc.ip}}<br>
            mac : {{pc.mac}}<br>
            PCIE power: {{pc.pcie_power}}<br>
            PCIE status: {{pc.pcie_status}}<br>
        </form><br>

        <a href="{% url 'index'%}">home</a>
    </div>
</body>

</html>